body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#calculatorContainer {
    width: 400px;
    height: 600px;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #9c9db1;
}
#operatorButtonsContainer {
    display: flex;
    gap: 5px;
}

#operatorButtonsContainer button {
    flex: 1;
}

#numClearEqualContainer {
    display: flex;
    flex-direction: row-reverse;
    
    
}

#equalClearContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#equalClearContainer button {
    flex: 1;
}

#display {
    border: solid 2px black;
    text-align: right;
    height: 50px;
    font-size: 40px;
    background-color: antiquewhite;
    
}

#numberButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#numberButtonsContainer div {
    display: flex;
    gap: 5px;
}

#numberButtonsContainer div button {
    width: 100px;
    height: 100px;
}

#numberButtonsContainer button, #btn0 {
    background-color: #37397c;
    color: whitesmoke;
}

button {
    width: 75px;
    height: 75px;
    font-size: 50px;
    border-radius: 10px;
    border: solid black 3px;
}

#commaDeleteContainer {
    display: flex;
    justify-content:space-between;
}

#name {
    color: antiquewhite;
    text-align: end;
    align-self: flex-end;
    margin: 0%;
}

#btnDelete {
    font-size: 30px;
    min-width: 150px;
}